<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="FileAppender" />
  </root>

  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <!-- Path to the log file -->
    <file value="Logs/app.txt" />
    <!-- Rolling settings -->
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <!-- Log format -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
